<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy</title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption!</h1>

    <form method="post" action="/create_puppy">
      <p>Enter your phrase:</p>
      Name: <input type="text" name="name" placeholder="name"><br>
      Breed: <input type="text" name="breed" value="breed"><br>
      Age: <input type="number" name="age" value="age"><br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
