<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy</title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption!</h1>

    <form method="post" action="/create_puppy">
      <p>Enter your phrase:</p>
      <text name="name"></text>
      <text name="breed"></text>
      <number name="age"></number>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
